<h2 class="page-header"><%= pet.title %></h2>
<div class="pet-details">
  <div>
    <img class="pet-cover" src="<%= pet.coverImagePath %>">
    <div class="pet-details-btn-grid">
      <a class="btn btn-primary" href="/pets/<%= pet.id %>/edit">Edit</a>
      <%- include('../partials/deleteForm', { url: `/pets/${pet.id}` }) %>
      <a class="btn btn-primary pet-details-owner-button" href="/owners/<%= pet.owner.id %>">View Owner</a>
		<a class="btn btn-primary" href="javascript:window.print()">Print</a>

    </div>
  </div>
  <div class="pet-details-grid">
    <div class="pet-details-label">Owner:</div>
    <div><%= pet.owner.name %></div>
    <div class="pet-details-label">Date:</div>
    <div><%= pet.publishDate.toDateString() %></div>
    <div class="pet-details-label">Age:</div>
    <div><%= pet.pageCount %></div>
    <div class="pet-details-label">Diagnosis and Treatment:</div>
    <div><%= pet.description %></div>
  </div>
</div>