<h2 class="page-header">Search Patients</h2>
<form action="/patients" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Name</label>
      <input type="text" name="name" value="<%= searchOptions.name %>">
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<br>
<% patients.forEach(patient => { %>
  <div class="patient-row">
    <div class="patient-name"><%= patient.name %></div>
    <div class="btn-row">
      <a class="btn btn-primary" href="/patients/<%= patient.id %>">View</a>
      <a class="btn btn-primary" href="/patients/<%= patient.id %>/edit">Edit</a>
      <%- include('../partials/deleteForm',
                  { url: `/patients/${patient.id}` }) %>
    </div>
  </div>
<% }) %>
